<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.Feature.Redirects.EventHandlers.RedirectMapCacheClearer, Sitecore.Feature.Redirects" method="ClearCache" />
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Feature.Redirects.EventHandlers.RedirectMapCacheClearer, Sitecore.Feature.Redirects" method="ClearCache" />
      </event>
      <event name="item:saved">
        <handler type="Sitecore.Feature.Redirects.EventHandlers.RedirectMapCacheClearer, Sitecore.Feature.Redirects" method="OnItemSaved" />
      </event>
      <event name="item:saved:remote">
        <handler type="Sitecore.Feature.Redirects.EventHandlers.RedirectMapCacheClearer, Sitecore.Feature.Redirects" method="OnItemSavedRemote" />
      </event>
    </events>
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" type="Sitecore.Feature.Redirects.Pipelines.HttpRequest.RedirectMapResolver, Sitecore.Feature.Redirects">
          <CacheExpiration>720</CacheExpiration>
        </processor>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" type="Sitecore.Feature.Redirects.Pipelines.HttpRequestBegin.RedirectItem, Sitecore.Feature.Redirects" />
      </httpRequestBegin>
      <initialize>
        <processor type="Sitecore.Feature.Redirects.Pipelines.Initialize.InitializeRoutes, Sitecore.Feature.Redirects" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
      </initialize>
    </pipelines>
    <controlSources>
      <source patch:before="*[@namespace='Sitecore.Shell.Applications.ContentEditor']" mode="on" namespace="Sitecore.Feature.Redirects.FieldTypes" assembly="Sitecore.Feature.Redirects" prefix="content"/>
    </controlSources>
    <commands>
      <command name="featureredirects:importcsv" type="Sitecore.Feature.Redirects.Commands.ImportCsvCommand, Sitecore.Feature.Redirects"/>
    </commands>
  </sitecore>
</configuration>
