<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.Feature.Redirects.EventHandlers.RedirectMapCacheClearer, Sitecore.Feature.Redirects" method="ClearCache" />
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Feature.Redirects.EventHandlers.RedirectMapCacheClearer, Sitecore.Feature.Redirects" method="ClearCache" />
      </event>
      <event name="item:saved">
        <handler type="Sitecore.Feature.Redirects.EventHandlers.RedirectMapCacheClearer, Sitecore.Feature.Redirects" method="OnItemSaved" />
      </event>
      <event name="item:saved:remote">
        <handler type="Sitecore.Feature.Redirects.EventHandlers.RedirectMapCacheClearer, Sitecore.Feature.Redirects" method="OnItemSavedRemote" />
      </event>
    </events>
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" type="Sitecore.Feature.Redirects.Pipelines.HttpRequest.RedirectMapResolver, Sitecore.Feature.Redirects">
          <CacheExpiration>720</CacheExpiration>
        </processor>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" type="Sitecore.Feature.Redirects.Pipelines.HttpRequestBegin.RedirectItem, Sitecore.Feature.Redirects" />
      </httpRequestBegin>
    </pipelines>
    <services>
      <register serviceType="Sitecore.Feature.Redirects.Repositories.IRedirectsRepository, Sitecore.Feature.Redirects" implementationType="Sitecore.Feature.Redirects.Repositories.RedirectsRepository, Sitecore.Feature.Redirects" lifetime="Singleton"/>
    </services>
  </sitecore>
</configuration>
