<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <!-- Although this module is a "Feature" it purposely extends "Helix.Foundation" below as that only includes Templates, we don't need Media or Renderings -->
        <configuration name="Feature.Redirects" description="Feature Redirects" extends="Helix.Foundation">
          <predicate>
            <include name="System Settings" database="master" path="/sitecore/system/Settings/Feature/Redirects" />
            <include name="Field Types" database="core" path="/sitecore/system/Field types/List Types/Url Mapping List" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
